---
---

.member-card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 175px;
  max-width: calc(100% - 20px - 20px);
  text-decoration: none;
}

.member-card-image {
  width: 100%;
  margin-bottom: 15px;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--shadow);
}

a.member-card-name {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
  text-align: center;
  text-decoration: none;
  color: var(--text);

  &:hover {
    color: var(--primary);
  }
}

span.member-card-name {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
  text-align: center;
}

.member-card-description {
  color: var(--gray);
  font-size: 0.9em;
  text-align: center;
}
