{% assign member = include %}

<div class="member-card">
  <img
    src="{{ member.image | relative_url | uri_escape }}"
    class="member-card-image"
    alt="{{ member.name | default: 'member' }} portrait"
    loading="lazy"
    {% include fallback.html %}
  >

  {% if member.name %}
    {% if member.link %}
      <a href="{{ member.link }}" class="member-card-name">
        {{ member.name }}
      </a>
    {% else %}
      <span class="member-card-name">
        {{ member.name }}
      </span>
    {% endif %}
  {% endif %}

  {% if member.description %}
    <span class="member-card-description">
      {{ member.description }}
    </span>
  {% endif %}
</div>
