{% assign member = include %}

<div class="member-card">
  <img
    src="{{ member.image | relative_url | uri_escape }}"
    class="member-card-image"
    alt="{{ member.name | default: 'member' }} portrait"
    loading="lazy"
    {% include fallback.html %}
  >

  {% if member.name %}
    <span class="member-card-name">
      {{ member.name }}
    </span>
  {% endif %}

  {% if member.description %}
    <span class="member-card-description">
      {{ member.description }}
    </span>
  {% endif %}

  {% if member.affiliation %}
    <span class="member-card-affiliation">
      {{ member.affiliation }}
    </span>
  {% endif %}

  {% if member.links %}
    <div class="member-card-links">
      {% for link in member.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}
      {% endfor %}
    </div>
  {% endif %}
</div>
